.company {
  width: 100%;
}

.company .company-banner {
  width: 100%;
  height: 670px;
  position: relative;
  background: url("../img/company/bg_company1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
