.company {
  width: 100%;
}

.company .company-banner {
  width: 100%;
  height: 670px;
  position: relative;
  background: url("../img/company/bg_company1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.company .company-banner .company-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
