@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
#wrap {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#wrap #header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 100;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5);
}

#wrap #header #top_logo {
  margin-left: 100px;
  float: left;
}

#wrap #header #top_logo a {
  height: 90px;
  line-height: 90px;
}

#wrap #header #top_nav {
  position: relative;
  height: 90px;
  float: right;
}

#wrap #header #top_nav ul {
  margin-right: 100px;
  float: left;
}

#wrap #header #top_nav ul li {
  position: relative;
  float: left;
  margin-left: 60px;
}

#wrap #header #top_nav ul li:first-child {
  margin-left: 0;
}

#wrap #header #top_nav ul li a {
  line-height: 90px;
  height: 90px;
  font-weight: 600;
  color: #222;
  font-size: 16px;
}

#wrap #header #top_nav ul li a:hover {
  color: #6081C8;
}

#wrap #header #top_nav ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

#wrap #header #top_nav ul li .submenu {
  position: absolute;
  border: 1px solid #f1f1f1;
  visibility: hidden;
  top: calc( 100% - 3px);
  left: 0;
  opacity: 0;
  transition: .5s;
}

#wrap #header #top_nav ul li .submenu li {
  width: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 180px;
  transition: .5s;
}

#wrap #header #top_nav ul li .submenu li a {
  line-height: 50px;
  height: 50px;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

#wrap #header #top_nav ul li .submenu li:hover {
  background: -webkit-linear-gradient(152deg, #d0e6f9, #f6e5ff);
  background: linear-gradient(152deg, #d0e6f9, #f6e5ff);
}

#wrap #header #top_nav ul li .submenu li:hover a {
  color: f9f9f9;
}

/*탭 메뉴만들기*/
.container {
  width: 100%;
  position: absolute;
  margin-top: 90px;
}

.container .tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 60px;
  background: none;
  border-bottom: 1px solid #ddd;
}

.container .tabs li {
  background: none;
  font-size: 20px;
  color: #999;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.container .tabs li.current {
  color: skyblue;
}

.container .tab-content {
  display: none;
}

.container .tab-content.current {
  display: block;
}

/*initial css*/
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  font-family: 'GmarketSansMedium', 'Montserrat', sans-serif;
  color: #666666;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #666666;
}

.nav {
  color: #6081C8;
}

#footer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: -webkit-linear-gradient(152deg, #d0e6f9, #f6e5ff);
  background: linear-gradient(152deg, #d0e6f9, #f6e5ff);
}

#footer .footer-wrap {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 60px;
}

#footer .footer-wrap .footer-logo h6 {
  padding: 15px 0;
  color: #4a4a4a;
  font-size: 22px;
}

#footer .footer-wrap .container {
  width: 1440px;
  margin: 0 auto;
}

#footer .footer-wrap .container .foot-info {
  line-height: 30px;
  font-size: 14px;
}

#footer .footer-wrap .foot-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-wrap .foot-bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-wrap .foot-bottom nav ul li {
  font-size: 14px;
  padding: 5px 25px;
}

#footer .footer-wrap .foot-bottom nav ul li:first-child {
  padding-left: 0;
}

#footer .footer-wrap .container2 {
  font-size: 12px;
  text-align: center;
  color: #888;
}

.mainbanner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainbanner .main-banner {
  height: 100%;
}

.mainbanner .main-banner video {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container .content-wrap {
  width: 1440px;
  margin: 0 auto;
}

.container .content-wrap section {
  width: 100%;
  height: 100vh;
}

.container .content-wrap .content1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/main/bg_system_sec.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.container .content-wrap .content1 .content-text {
  width: 50%;
}

.container .content-wrap .content1 .content-text span {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  font-weight: 500;
}

.container .content-wrap .content1 .content-text h2 {
  font-size: 56px;
  color: #222;
  font-weight: bold;
  margin-bottom: 30px;
}

.container .content-wrap .content1 .content-text p {
  font-size: 18px;
  color: #666;
  line-height: 30px;
}

.container .content-wrap .content1 .content-img {
  width: 50%;
  height: auto;
}

.container .content-wrap .content2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/main/bg_product_sec.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
}

.container .content-wrap .content2 .content-img {
  width: 55%;
}

.container .content-wrap .content2 .content-text {
  width: 45%;
  margin-bottom: 60px;
}

.container .content-wrap .content2 .content-text span {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  font-weight: 500;
}

.container .content-wrap .content2 .content-text h2 {
  font-size: 56px;
  color: #222;
  font-weight: bold;
  margin-bottom: 30px;
}

.container .content-wrap .content2 .content-text p {
  font-size: 18px;
  color: #666;
  line-height: 30px;
  margin-bottom: 20px;
}

.container .content-wrap .content2 .content-text p:last-child {
  padding-bottom: 150px;
}

.container .content-wrap .content3 {
  width: 100%;
  height: 100%;
  background: url("../img/main/bg_service_sec.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

.container .content-wrap .content3 .content-text1 {
  width: 75%;
  margin: 0 auto;
}

.container .content-wrap .content3 .content-text1 span {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  font-weight: 500;
}

.container .content-wrap .content3 .content-text1 h2 {
  font-size: 56px;
  color: #222;
  font-weight: bold;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.container .content-wrap .content3 .content-text2 {
  width: 75%;
  margin: 0 auto;
}

.container .content-wrap .content3 .content-text2 p {
  font-size: 18px;
  color: #666;
  line-height: 35px;
}

.company {
  width: 100%;
}

.company .company-banner {
  width: 100%;
  height: 670px;
  position: relative;
  background: url("../img/company/bg_company1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.company .company-banner .company-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company .company-banner .company-text h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 56px;
}

.company .company-banner .company-text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #fff;
  opacity: 0.6;
  margin-bottom: 35px;
}

.company .company-banner .company-text p {
  color: white;
  font-size: 22px;
}

.com-content {
  width: 100%;
}

.com-content .content {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 70px;
}

.com-content .content .text h3 {
  color: #222;
  font-size: 22px;
  margin-bottom: 20px;
}

.com-content .content .text p {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
  font-family: "GmarketSansLight";
  line-height: 30px;
}

.com-content .two .text h3 {
  margin-top: 60px;
  margin-bottom: 100px;
}

.com-content .two .content-img {
  width: 100%;
  height: 600px;
  background: url("../img/company/img_emart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.com-content .three .text p {
  margin-bottom: 100px;
}

.com-content .three .content-img {
  width: 100%;
  height: 600px;
  background: url("../img/company/img_small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.com-content .fourth .text p {
  margin-bottom: 100px;
}

.com-content .fourth .content-img {
  width: 100%;
  height: 600px;
  background: url("../img/company/img_department.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.com-content .five .text p {
  margin-bottom: 100px;
}

.com-content .five .content-img {
  width: 100%;
  height: 600px;
  background: url("../img/company/img_etcmall.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.com-content .six {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.com-content .six .text p:last-child {
  margin-bottom: 50px;
}

.com-content .six .content-img {
  width: 100%;
  height: 600px;
  background: url("../img/company/business.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.com-content .six .text2 p {
  font-size: 18px;
  font-weight: bold;
  font-family: "GmarketSansLight";
  color: #4a4a4a;
  line-height: 30px;
}

.com-content .six .text2 p:first-child {
  margin-top: 50px;
}

.com-content .six .text2 p:last-child {
  margin-bottom: 70px;
}

.history-wrap {
  width: 100%;
  background: #fff;
  padding: 100px;
}

.history-wrap .history {
  width: 1200px;
  margin: 0 auto;
}

.history-wrap .history .story {
  display: flex;
  padding: 40px;
  border-bottom: 1px solid #ddd;
}

.history-wrap .history .story .table {
  display: flex;
  flex-direction: column;
}

.history-wrap .history .story .table dl {
  display: flex;
  line-height: 50px;
}

.history-wrap .history .story .table dt {
  font-family: "GmarketSansLight";
  font-weight: bold;
  font-size: 18px;
  color: #222;
  width: 150px;
}

.history-wrap .history .story .table dd {
  font-family: "GmarketSansLight";
  font-weight: bold;
  font-size: 18px;
  color: #222;
  line-height: 50px;
}

.history-wrap .history h2 {
  color: #222;
  font-size: 22px;
  padding-bottom: 40px;
  border-bottom: 2px solid #222;
}

.history-wrap .history h4 {
  color: #222;
  font-size: 18px;
  width: 300px;
}

.content-txt {
  width: 1440px;
  margin: 0 auto;
  padding: 100px;
}

.content-txt .text-wrap {
  display: flex;
  justify-content: space-between;
}

.content-txt .text-wrap .title {
  width: 400px;
  color: #222;
}

.content-txt .text-wrap .title h3 {
  font-size: 46px;
  margin-bottom: 50px;
}

.content-txt .text-wrap .title p {
  font-size: 22px;
  margin-bottom: 30px;
}

.content-txt .text-wrap .title span {
  display: block;
  width: 60px;
  height: 2px;
  background: #222;
  margin-bottom: 20px;
}

.content-txt .text-wrap .text {
  width: 750px;
}

.content-txt .text-wrap .text h4 {
  color: #222;
  font-size: 22px;
  margin-bottom: 30px;
}

.content-txt .text-wrap .text p {
  font-size: 18px;
  font-family: "GmarketSansLight";
  font-weight: bold;
  margin-bottom: 25px;
}

.content-txt .text-wrap .text p b {
  color: #000;
  font-weight: 900;
}

.content-txt .video {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}

.content-txt .video .video1 {
  padding: 10px;
  text-align: center;
}

.content-txt .video .video2 {
  padding: 10px;
  text-align: center;
}

.content-txt .video p {
  margin-top: 30px;
  color: #222;
}

.notice-wrap {
  width: 100%;
}

.notice-wrap .notice-banner {
  width: 100%;
  height: 670px;
  background: url("../img/notice/bg_notice.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.notice-wrap .notice-banner .notice-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notice-wrap .notice-banner .notice-text h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 56px;
}

.notice-wrap .notice-banner .notice-text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #fff;
  opacity: 0.6;
  margin-bottom: 35px;
}

.notice-wrap .notice-banner .notice-text p {
  color: #fff;
  font-size: 22px;
}

.notice-wrap .notice-table {
  background: #fff;
  width: 100%;
}

.notice-wrap .notice-table .table-wrap {
  width: 1440px;
  margin: 0 auto;
  padding: 100px 60px 100px 60px;
}

.notice-wrap .notice-table .table-wrap .name2 {
  padding: 20px 10px 20px 0px;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #666666;
  border-bottom: 1px solid #ddd;
}

.notice-wrap .notice-table .table-wrap .name2 .title {
  width: 850px;
  text-align: center;
  font-size: 16px;
  color: #222;
}

.notice-wrap .notice-table .table-wrap .name2 .date {
  width: 300px;
  text-align: center;
  font-size: 16px;
  color: #222;
}

.notice-wrap .notice-table .table-wrap .text .text-lab {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #ddd;
}

.notice-wrap .notice-table .table-wrap .text .text-lab .subtext {
  width: 850px;
  font-family: "GmarketSansLight";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.notice-wrap .notice-table .table-wrap .text .text-lab .day {
  width: 300px;
  font-family: "GmarketSansLight";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.notice-wrap .notice-table .table-wrap button {
  width: 100%;
  margin: 0 auto;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding-top: 20px;
  cursor: pointer;
}

.chanel-wrap {
  width: 100%;
}

.chanel-wrap .chanel-banner {
  width: 100%;
  height: 670px;
  background: url("../img/chanel/bg_channel.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.chanel-wrap .chanel-banner .chanel-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chanel-wrap .chanel-banner .chanel-text h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 56px;
}

.chanel-wrap .chanel-banner .chanel-text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #fff;
  opacity: 0.6;
  margin-bottom: 35px;
}

.chanel-wrap .chanel-banner .chanel-text p {
  color: #fff;
  font-size: 22px;
}

.chanel-box {
  width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
}

.chanel-box .video {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.chanel-box .video .video-img {
  cursor: pointer;
}

.chanel-box .video .video-img video {
  width: 700px;
  height: auto;
}

.chanel-box .video .vid-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chanel-box .video .vid-text .txt-box1 .t1 {
  color: #222;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 15px;
  cursor: pointer;
}

.chanel-box .video .vid-text .txt-box1 .t1:hover {
  text-decoration: underline;
}

.chanel-box .video .vid-text .txt-box1 .t2 {
  font-family: "GmarketSansLight";
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.news-wrap {
  width: 100%;
  background: #fff;
  padding: 100px 20px;
}

.news-wrap .news-box {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news-wrap .news-box .content {
  padding-bottom: 30px;
}

.news-wrap .news-box .content img {
  width: 620px;
  height: auto;
  cursor: pointer;
}

.news-wrap .news-box .content img:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.news-wrap .news-box .content .con-title {
  font-size: 20px;
  color: #222;
  padding-top: 20px;
  cursor: pointer;
}

.news-wrap .news-box .content .con-title:hover {
  text-decoration: underline;
}

.news-wrap .news-box .content .day {
  font-size: 16px;
  padding-top: 25px;
}

.csr-wrap {
  width: 100%;
}

.csr-wrap .csr-banner {
  width: 100%;
  height: 670px;
  background: url("../img/csr/bg_csr.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.csr-wrap .csr-banner .csr-text {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.csr-wrap .csr-banner .csr-text h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 56px;
}

.csr-wrap .csr-banner .csr-text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #fff;
  opacity: 0.6;
  margin-bottom: 35px;
}

.csr-wrap .csr-banner .csr-text p {
  color: #fff;
  font-size: 22px;
}

.csr1-wrap {
  width: 100%;
  padding: 100px 20px 100px 20px;
}

.csr1-wrap .csr1-box {
  width: 1440px;
  margin: 0 auto;
}

.csr1-wrap .csr1-box h2 {
  font-size: 28px;
  color: #222;
  padding-bottom: 20px;
}

.csr1-wrap .csr1-box p {
  font-family: "GmarketSansLight";
  font-weight: bold;
  font-size: 18px;
  color: #4a4a4a;
}

.csr1-wrap .csr1-box .csr1-imgbox {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 150px;
}

.csr1-wrap .csr1-box .csr1-imgbox .csr1-img img {
  width: 162px;
  height: 162px;
}

.csr1-wrap .csr1-box .csr1-imgbox .csr1-img p {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

.csr1-wrap .csr1-box2 {
  width: 1440px;
  margin: 0 auto;
}

.csr1-wrap .csr1-box2 h2 {
  font-size: 28px;
  padding-bottom: 20px;
  color: #222;
}

.csr1-wrap .csr1-box2 p {
  font-size: 18px;
  font-weight: bold;
  font-family: "GmarketSansLight";
  color: #4a4a4a;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 {
  width: 1440px;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 .csr1-img2 {
  display: flex;
  align-items: center;
  width: 600px;
  margin-bottom: 50px;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 .csr1-img2 img {
  width: 142px;
  height: 142px;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 .csr1-img2 .text {
  margin-left: 40px;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 .csr1-img2 .text h4 {
  font-size: 18px;
  color: #222;
  margin-bottom: 15px;
}

.csr1-wrap .csr1-box2 .csr1-imgbox2 .csr1-img2 .text p {
  font-size: 16px;
}

.csr1-wrap .csr1-box3 {
  width: 1440px;
  margin: 0 auto;
}

.csr1-wrap .csr1-box3 p {
  font-family: "GmarketSansLight";
  font-size: 18px;
  color: #4a4a4a;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 80px;
}

.csr1-wrap .csr1-box3 .box3-img {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.csr1-wrap .csr1-box3 .box3-img img {
  width: 1000px;
  height: auto;
}

.csr2-wrap {
  width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
}

.csr2-box h2 {
  font-size: 28px;
  padding-bottom: 20px;
  color: #222;
}

.csr2-box p {
  font-size: 18px;
  font-family: "GmarketSansLight";
  color: #4a4a4a;
  font-weight: bold;
}

.csr2-box .csr2-imgbox {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 150px;
}

.csr2-box .csr2-imgbox .csr2-img {
  text-align: center;
}

.csr2-box .csr2-imgbox .csr2-img h4 {
  font-size: 18px;
  color: #222;
  margin-top: 20px;
  margin-bottom: 15px;
}

.csr2-box .csr2-imgbox .csr2-img p {
  font-size: 16px;
}

.csr2-box2 .text h2 {
  font-size: 28px;
  color: #222;
  padding-bottom: 20px;
}

.csr2-box2 .text p {
  font-family: "GmarketSansLight";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 130px;
  line-height: 30px;
}

.csr2-box2 .text-img {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.csr2-box2 .text-img img {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

.csr2-box2 .type2 p {
  margin-bottom: 30px;
}

.csr2-box2 .type2 button {
  border: 1px solid #222;
  padding: 20px 10px;
  background: none;
  font-size: 16px;
  font-family: "GmarketSansLight";
  cursor: pointer;
}

.csr2-box2 .type2 button:hover {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.csr5-imgbox {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.csr5-imgbox .csr5-img {
  width: 380px;
  margin-top: 50px;
}
