.chanel-wrap{
  width: 100%;
  .chanel-banner{
    width: 100%;
    height: 670px;
    background: url('../img/chanel/bg_channel.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    .chanel-text{
      width: $width;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        color: $layoutBg;
        margin-bottom: 30px;
        font-size: $fontSizeSBig;
      }
      span{
        display: block;
        width: 70px;
        height: 2px;
        background: $layoutBg;
        opacity: 0.6;
        margin-bottom: 35px;
      }
      p{
        color: $layoutBg;
        font-size: 22px;
      }
    }
  }
}

.chanel-box{
  width: $width;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
  .video{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    .video-img{
      cursor: pointer;
      video{
        width: 700px;
        height: auto;
      }
    }
    .vid-text{
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .txt-box1{
        .t1{
          color: $fontMain;
          font-size: 22px;
          font-weight: bold;
          padding-bottom: 15px;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
        .t2{
          font-family: $fontLight;
          font-size: $fontSizeNormal;
          font-weight: bold;
          color: #222;
        }
      }
    }
  }
}

.news-wrap{
  width: 100%;
  background: $layoutBg;
  padding: 100px 20px;
  .news-box{
    width: $width;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .content{
      padding-bottom: 30px;
      img{
        width: 620px;
        height: auto;
        cursor: pointer;
        &:hover{
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
        }
      }
      .con-title{
        font-size: 20px;
        color: $fontMain;
        padding-top: 20px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      .day{
        font-size: $fontSize;
        padding-top: 25px;
      }
    }
  }
}
