.csr-wrap{
  width: 100%;
  .csr-banner{
    width: 100%;
    height: 670px;
    background: url('../img/csr/bg_csr.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    .csr-text{
      width: $width;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        color: $layoutBg;
        margin-bottom: 30px;
        font-size: $fontSizeSBig;
      }
      span{
        display: block;
        width: 70px;
        height: 2px;
        background: $layoutBg;
        opacity: 0.6;
        margin-bottom: 35px;
      }
      p{
        color: $layoutBg;
        font-size: 22px;
      }
    }
  }
}

.csr1-wrap{
  width: 100%;
  padding: 100px 20px 100px 20px;
  .csr1-box{
    width: $width;
    margin: 0 auto;
    h2{
      font-size: 28px;
      color: $fontMain;
      padding-bottom: 20px;
    }
    p{
      font-family: $fontLight;
      font-weight: bold;
      font-size: $fontSizeNormal;
      color: $fontColorHover;
    }
    .csr1-imgbox{
      display: flex;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 150px;
      .csr1-img{
        img{
          width: 162px;
          height: 162px;
        }
        p{
          margin-top: 30px;
          font-size: $fontSize;
          text-align: center;
        }
      }
    }
  }
  .csr1-box2{
    width: $width;
    margin: 0 auto;
    h2{
      font-size: 28px;
      padding-bottom: 20px;
      color: $fontMain;
    }
    p{
      font-size: $fontSizeNormal;
      font-weight: bold;
      font-family: $fontLight;
      color: $fontColorHover
    }
    .csr1-imgbox2{
      width: $width;
      padding: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      .csr1-img2{
        display: flex;
        align-items: center;
        width: 600px;
        margin-bottom: 50px;
        img{
          width: 142px;
          height: 142px;
        }
        .text{
          margin-left: 40px;
          h4{
            font-size: $fontSizeNormal;
            color: $fontMain;
            margin-bottom: 15px;
          }
          p{
            font-size: $fontSize;
          }
        }
      }
    }
  }
  .csr1-box3{
    width: $width;
    margin: 0 auto;
    p{
      font-family: $fontLight;
      font-size: $fontSizeNormal;
      color: $fontColorHover;
      font-weight: bold;
      margin-top: 70px;
      margin-bottom: 80px;
    }
    .box3-img{
      width: $width;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
      img{
        width: 1000px;
        height: auto;
      }
    }
  }
}

.csr2-wrap{
  width: $width;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
}

.csr2-box{
  h2{
    font-size: 28px;
    padding-bottom: 20px;
    color: $fontMain;
  }
  p{
    font-size: $fontSizeNormal;
    font-family: $fontLight;
    color: $fontColorHover;
    font-weight: bold;
  }
  .csr2-imgbox{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 150px;
    .csr2-img{
      text-align: center;
      h4{
        font-size: $fontSizeNormal;
        color: $fontMain;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      p{
        font-size: $fontSize;
      }
    }
  }
}

.csr2-box2{
  .text{
    h2{
      font-size: 28px;
      color: $fontMain;
      padding-bottom: 20px;
    }
    p{
      font-family: $fontLight;
      font-size: $fontSizeNormal;
      font-weight: bold;
      margin-bottom: 130px;
      line-height: 30px;
    }
  }
  .text-img{
    max-width: $width;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    img{
      max-width: 1000px;
      width: 100%;
      height: auto;
    }
  }
  .type2{
    p{
      margin-bottom: 30px;
    }
    button{
      border: 1px solid $fontMain;
      padding: 20px 10px;
      background: none;
      font-size: $fontSize;
      font-family: $fontLight;
      cursor: pointer;
      &:hover{
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.csr5-imgbox{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
  .csr5-img{
    width: 380px;
    margin-top: 50px;
  }
}
