#footer{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: -webkit-linear-gradient(152deg, rgb(208, 230, 249), rgb(246, 229, 255));
  background: linear-gradient(152deg, rgb(208, 230, 249), rgb(246, 229, 255));
  .footer-wrap{
    width: $width;
    height: 100%;
    margin: 0 auto;
    padding: 60px;
    .footer-logo{
      h6{
        padding: 15px 0;
        color: #4a4a4a;
        font-size: 22px;
      }
    }
    .container{
      width: $width;
      margin: 0 auto;
      .foot-info{
        line-height: 30px;
        font-size: 14px;
      }
    }
    .foot-bottom{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 30px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      nav ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        li{
          font-size: 14px;
          padding: 5px 25px;
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
    .container2{
      font-size: 12px;
      text-align: center;
      color: #888;
    }
  }
}
