@charset "UTF-8";

//변수처리

//size width
$width: 1440px;
//text size
$fontSize: 16px;
$fontSizeNormal: 18px;
$fontSizeMid: 30px;
$fontSizeSBig: 56px;

// nav font size
$navMainsize: 18px;

//background color
$layoutBg: #fff;

//font color
$fontColorBasic: #666666;
$fontColorHover: #4a4a4a;
$fontMain: #222;

//border color
$borderColorPrimary: #f1f1f1;

// nav hover
$navColor : #6081C8;

//font-family
$fontLight: 'GmarketSansLight';

//scss 파일 분화
@import "nav.scss";// 네비게이션
@import "tab.scss";
@import "initial.scss";// css 초기화
@import "footer.scss";

//페이지 분화
@import "main.scss";// 메인페이지
@import "company.scss";
@import "notice.scss";
@import "chanel.scss";// 홍보채널페이지
@import "csr.scss";
@import "location.scss";
