//변수처리

//size width
$width: 1440px;
//text size
$fontSize: 16px;
$fontSizeNormal: 18px;
$fontSizeMid: 30px;
$fontSizeSBig: 56px;

// nav font size
$navMainsize: 18px;

//background color
$layoutBg: #fff;

//font color
$fontColorBasic: #666666;
$fontColorHover: #4a4a4a;
$fontMain: #222;

//border color
$borderColorPrimary: #f1f1f1;

// nav hover
$navColor : #6081C8;

//font-family
$fontLight: 'GmarketSansLight';
